footer
{
    background: black;
    padding: 64px 0;
    #footer__content__wrapper
    {
        max-width: 300px;
        margin: 0 auto;

        > * {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        #footer__first__section
        {
            gap: 32px;
            &__links
            {
                display: flex;
                flex-direction: column;
                gap: 24px;
            }
        }

        #footer__second__section
        {
            margin-top: 48px;
            #social
            {
                display: flex;
                gap: 24px;
                margin-bottom: 16px;
            }
        }
    }
}

@media only screen and (min-width: 1440px){
    footer{
        #footer__content__wrapper
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: none;
            width: 1112px;

            #footer__first__section
            {
                align-items: flex-start;
                &__links
                {
                    flex-direction: row;
                }
            }

            #footer__second__section
            {
                margin-top: 0;
                gap: 32px;
                #social{margin-bottom: 0;}
            }
        }
    }
}