@import '../abstracts/colors';
.see__all
{
    background: none;
    box-shadow: none;
    border: solid $black;
    padding: 8px 32px;
    cursor: pointer;
    transition: color 100ms ease, background 100ms ease;

    &:hover{background: $black;}
}