@import '../abstracts/colors';
.see__all
{
    background: none;
    box-shadow: none;
    border: solid $black;
    cursor: pointer;
    width: 165px;
    padding: 8px 0;
}

@media only screen and (min-width: 1440px){
    .see__all
    {
        width: auto;
        padding: 8px 32px;
        &:hover{background: $black;}
        transition: color 100ms ease, background 100ms ease;
    }
}