@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
@import '../abstracts/colors';
$alata: 'Alata', sans-serif;
$josefin: 'Josefin Sans', sans-serif;

html{font-size: 15px;}

#hero
{
    &__text
    {
        p
        {
            color: white;
            font-size: 38px;
            font-family: $josefin;
        }
    }

    &__nav
    {
        &__menu__desktop
        {
            p
            {
                color: white;
                font-family: $alata;
            }
        }
    }
}

#hero__nav__menu__mobile
{
    &__wrapper
    {
        color: white;
        font-family: $josefin;
        text-transform: uppercase;

        p
        {font-size: 25px;}
    }
}

#interactive__vr
{
    &__text
    {
        text-align: center;
        &__heading
        {
            font-family: $josefin !important;
            text-transform: uppercase !important;
            font-size: 32px !important;
            color: $black !important;
            line-height: 1.2 !important;
        }
        p
        {
            font-family: $alata;
            color: map-get($gray, 'dark');
            max-width: 30ch;
            line-height: 160%;
        }
    }
}

#our__creations
{
    font-family: $josefin;
    text-transform: uppercase;
    &__heading
    {
        text-align: center;
    }
}

.oc__option
{
    p
    {
        color: white;
        font-size: 24px;
    }
}

.see__all
{
    font-family: $alata;
    p
    {
        font-size: 16px;
        letter-spacing: 4px;
    }
}

#footer__first__section__links
{
    p
    {
        font-family: $alata;
        color: white;
        text-align: center;
    }
}


@media only screen and (min-width: 1440px)
{
    #hero
    {
        &__text
        {
            p
            {
                font-size: 72px;
            }
        }
    }

    #interactive__vr
    {
        &__text
        {
            text-align: left;

            &__heading
            {
                font-size: 42px !important;
                max-width: 14ch !important;
            }

            p{
                max-width: 46ch;
            }
        }
    }

    .see__all
    {
        &:hover p {
            color: white;
        }
    }
}



