@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
@import '../abstracts/colors';
$alata: 'Alata', sans-serif;
$josefin: 'Josefin Sans', sans-serif;

html{font-size: 15px;}

#hero
{
    &__text
    {
        p
        {
            color: white;
            font-size: 38px;
            font-family: $josefin;
        }
    }

    &__nav
    {
        &__menu__desktop
        {
            p
            {
                color: white;
                font-family: $alata;
            }
        }
    }
}

@media only screen and (min-width: 1440px)
{
    #hero
    {
        &__text
        {
            p
            {
                font-size: 72px;
            }
        }
    }
}



